---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://caverodiego.com/</loc>
    <lastmod>{{ page.date | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://caverodiego.com/empresas/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://caverodiego.com/cuaderno/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://caverodiego.com/cuaderno-de-viaje/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  {% for post in collections.campo %}
  <url>
    <loc>https://caverodiego.com{{ post.url }}</loc>
    <lastmod>{{ post.date | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  {% for post in collections.viaje %}
  <url>
    <loc>https://caverodiego.com{{ post.url }}</loc>
    <lastmod>{{ post.date | date: "%Y-%m-%d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
</urlset>
